.header{
  background-color: white;
  width: 680px;
}
.icon{
  display: flex;
  justify-content: left;
}
.image{
  display: flex;
  justify-content: right;
}
.service{
  display: flex;
  justify-content: space-between;
}
.button{
  background-color: tomato;
}

