.header{
  background-color: white;
  width: 680px;
}
.icon{
  display: flex;
  justify-content: left;
}
.image{
  display: flex;
  justify-content: right;
}
.service{
  display: flex;
  justify-content: space-between;
}
.button{
  background-color: tomato;
}
.section{
  background-color: #F58261;
  text-align: center;
}
.start{
  background-color: blue;
  
}
footer{
  width: 300px;

  background-color: #11364E;
  align-items: center;
}
.input{
  width: 300px ;
  background-color: #11364E; 
}
.submit{
  background-color: #A63C1C;
}